<div class="block p-6 rounded-lg shadow-lg bg-white w-1/3 ">
  <%= form_for Pool.new do |f| %>

    <div class="form-group form-check text-center mb-6">
      <%= f.radio_button :type, "Manager" %>
      <%= f.label :name, "Manager" %>
      <%= f.radio_button :type, "TeamLead" %>
      <%= f.label :name, "Team Leader" %>
      <%= f.radio_button :type, "Mentor" %>
      <%= f.label :name, "Mentor" %>
      <%= f.radio_button :type, "Employee" %>
      <%= f.label :name, "Employee" %>
    </div>

    <div class="form-group form-check text-center mb-6">
      <%= f.label :name, "Supervisor" %>
      <%= f.select :parent_id, options_for_select(Pool.includes([:profile]).all.map { |pool| 
      ["#{pool.profile.first_name} #{pool.profile.last_name}", pool.id] })%>
      <%= f.label :name, "User" %>
      <%= f.select :profile_id, options_for_select(Profile.where.not(id: Pool.pluck(:profile_id)).map { |profile| 
      ["#{profile.first_name} #{profile.last_name}", profile.id] } )%>
    </div>

    <%= button_to "Create New Pool", new_pool_path, method: :get,
    class: 'w-full
        px-6
        py-2.5
        bg-blue-600
        text-white
        font-medium
        text-xs
        leading-tight
        uppercase
        rounded
        shadow-md
        hover:bg-blue-700 hover:shadow-lg
        focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
        active:bg-blue-800 active:shadow-lg
        transition
        duration-150
        ease-in-out' %>

  
  <% end %>
</div>



