<!DOCTYPE html>
<html>
  <head>
    <title>StepanovWork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body>

  <% if user_signed_in? %>
    <%= render 'layouts/header' %>
  <% end %>

  <% if notice %>
    <p class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="notice"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert"><%= alert %></p>
  <% end %>

    <%= yield %>
  </body>
</html>
