<!DOCTYPE html>
<html>
  <head>
    <title>StepanovWork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>


    <%= javascript_importmap_tags %>

    <% if user_signed_in? %>
    <%= button_to("Log Out", destroy_user_session_path, method: :delete) %>
    User role: <%= current_user.roles.pluck(:name) %>
    <% end %>
    
  </head>

  <body>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

    <%= yield %>
  </body>
</html>
